ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery {
max-width: 1140px;
display: flex;
flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: center;
align-items: flex-start;
row-gap: 24px;
gap: 24px;
margin-left: auto;
margin-right: auto;

}

.gallery-item{
object-fit: cover;
width: calc( ( 100% - 48px ) / 3);
}

.gallery-image{
    display: block;
    max-width: 100%;
}
.modal-image{
    max-width: 100%;
    object-fit: cover;
}